/* 
 mobyle2.css
 */

#banner img {
  float:left;
}

#banner {
  height:150px;
  line-height:100%;
  vertical-align:middle; 
}
 
.global_tabs-wrap {
  clear:both;
}

#globaltabs li {
  list-style-type:none;
  border:1px solid;
  width:auto;
}

#breadcrumbs li {
  list-style-type:none;
  border:1px solid;
  width:auto;
}

div.fa_field {
  clear:both;
}
div.label div.label label{
  float: left;
}
.fa_field div.label select,
.fa_field div.label div{
  float: right;
}

form#add_auth_backend div.fa_field,
form#manage_auth_global_settings div.fa_field{
  width: 500px;
}
form#add_auth_backend div.label,
form#add_auth_backend label.field_opt{
  float:left;
  width: 200px;
}
form#add_auth_backend div.field_input {
}


#login-box {
  float:right;
}
