/* 
 mobyle2.css
 */

#banner img {
  float:left;
}

#banner {
  height:150px;
  line-height:100%;
  vertical-align:middle; 
}
 
.global_tabs-wrap {
  clear:both;
}

#globaltabs li {
  list-style-type:none;
  border:1px solid;
  width:auto;
}

#breadcrumbs li {
  list-style-type:none;
  border:1px solid;
  width:auto;
}


form#add_auth_backend div.label,
form#add_auth_backend label.field_opt{
  float:left;
  width: 200px;
}


.deform label.desc{
    display: block;
}

.deform ul {
    margin: auto;
    padding: auto;
}

.deform li {
    clear: none;
    display: inherit;
    margin: auto;
    padding: auto;
}

.deformSet-item {
    padding: auto;
}

.deform ul.inline > li{
    display:inline-block;
}

