/* 
 mobyle2.css
 */

#banner {
  height:150px;
  line-height:100%;
  vertical-align:middle; 
}
 
.global_tabs-wrap {
  clear:both;
}

#globaltabs {
  padding-top:10px;
}
#globaltabs li {
  margin-right:10px;
  list-style-type:none;
  border:1px solid;
  display:inline;
}

#breadcrumbs li {
  margin-right:10px;
  list-style-type:none;
  border:1px solid;
  display:inline;
}


form#add_auth_backend div.label,
form#add_auth_backend label.field_opt{
  float:left;
  width: 200px;
}


.deform label.desc{
    display: block;
}

.deform ul {
    margin: auto;
    padding: auto;
}

.deform li {
    clear: none;
    display: inherit;
    margin: auto;
    padding: auto;
}

.deformSet-item {
    padding: auto;
}

.deform ul.inline > li{
    display:inline-block;
}



.chosen-loading-spinner {
  background: url('../img/loading-spinner.gif') no-repeat 97% #ffffff;
  width:16px;
  height:16px;
  display:block;
  float:right;
  padding:1px;
  line-height:16px;
}


.chzn-choices .search-field {
  width:100%;
}







